@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Error</title>
</head>
<body>
    <h2>
        This Action Is not Allow to Direct Contect, It must attach by another method in this System. 
    </h2>
</body>
</html>