@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Error</title>
</head>
<body>
    <h2>
        CSRF(Cross-Site Request Forgery) Attacks.
    </h2>
</body>
</html>